@using Sikiro.Common.Utils
@using Sikiro.Web.Admin.Models.Form
@{
    ViewData["Title"] = "null";
    var toplist = (List<HomeFormVo>)ViewBag.toplist;
    var nearlyChatDayCount = (long)ViewBag.nearlyChatDayCount;
    var nearlyChatYesterdayCount = (long)ViewBag.nearlyChatYesterdayCount;
    var formCount = (long)ViewBag.formCount;
    var dateName = (string)ViewBag.dateName;
    var UserName = (string)ViewBag.UserName;
}
@section Head{

    <link rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">

    <style>

        .main_user_card {
            display: flex;
            align-content: center;
            align-items: center;
        }

            .main_user_card img {
                width: 75px;
                height: 75px;
                margin-right: 10px;
            }

        .main_user_other {
            flex: 1;
        }

            .main_user_other .name {
                font-size: 20px;
                color: #000;
                margin-bottom: 10px;
            }

            .main_user_other .other {
                color: #999;
                font-size: 16px;
            }

                .main_user_other .other span {
                    padding-right: 10px;
                    padding-left: 10px;
                }

        .mainDataStyle {
            height: 75px !important;
            line-height: 75px !important;
            text-align: center;
            padding: 0 !important;
        }
    </style>

}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-sm6 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">
                    当前用户
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <div class="main_user_card">
                        <img src="/img/userlogo.jpg" class="layui-circle">
                        <div class="main_user_other">
                            <div class="name">@(dateName)，@(UserName)，祝你开心每一天！</div>
                            @*<div class="other">客服主管<span>|</span>聚品会-客户服务部-柬埔寨客服组-前端客服</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">
                    今日客户
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font mainDataStyle">@(nearlyChatDayCount)</p>

                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">
                    昨日客户
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font mainDataStyle">@(nearlyChatYesterdayCount)</p>

                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">
                    本月表单操作量
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font mainDataStyle">@(formCount)</p>

                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    最近更新
                    <a href="/Form/Index" class="layui-a-tips">全部更新</a>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space10">

                        @if (toplist.Any())
                        {
                            foreach (var item in toplist)
                            {
                                <div class="layui-col-xs12 layui-col-sm3">
                                    <div class="layuiadmin-card-text">
                                        <div class="layui-text-top"><i class="layui-icon layui-icon-water"></i><a lay-href="https://www.layui.com/doc/modules/flow.html">@item.TypeName</a></div>
                                        <p class="layui-text-center">表单号：@(string.IsNullOrEmpty(item.FormNo) ? "没有表单号" : item.FormNo)</p>
                                        <p class="layui-text-center">订单号：@(string.IsNullOrEmpty(item.OrderNo) ? "没有订单号" : item.OrderNo)</p>
                                        <p class="layui-text-center">用户ID：@(string.IsNullOrEmpty(item.UserId) ? "没有用户ID" : item.UserId)</p>
                                        <p class="layui-text-center">表单状态：@(string.IsNullOrEmpty(item.StatusName) ? "等待审核中" : item.StatusName)</p>
                                        <p class="layui-text-bottom"><a lay-href="https://www.layui.com/doc/modules/flow.html">当前环节操作人：@(string.IsNullOrEmpty(item.UserName) ? "等待审核中" : item.UserName)</a><span>@(AccountHelper.GetTimeName(item.CreateTime))</span></p>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
            <div class="layui-card" id="app">
                <div class="layui-card-header">动态</div>
                <div class="layui-card-body">
                    <dl class="layuiadmin-card-status" id="viewdd"></dl>
                </div>
            </div>
        </div>

    </div>
</div>
<script id="demo" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <dd>
        <div class="layui-status-img"><a href="javascript:;"><img src="../../layuiadmin/style/res/logo.png"></a></div>
        <div>
            <p>
                表单类型：{{item.formName==''?'没有表单号':item.formName}}
                {{# if(item.administratorName!=''&&item.administratorName!=null){}}
                <a lay-href="http://fly.layui.com/vipclub/list/layuiadmin/">操作人：{{ item.administratorName}} 进行了</a>
                {{#  } }}
                {{item.status}}
            </p>
            <span>{{item.createDateTime}}</span>
        </div>
    </dd>
    {{#  });}}
</script>

@*<script src="~/framework/layui/layui.js"></script>*@
<script src="/vue/vue.js"></script>
<script src="/vue/axios.min.js"></script>
<script src="/framework/lzr/dist/lrz.bundle.js"></script>
<script src="/signalr/signalr.min.js"></script>
<script src="/jquery/jquery.js"></script>

<script type="text/javascript">

    var laytpl = layui.laytpl;
    var laypage = layui.laypage;
    var laydate = layui.laydate;
    var element = layui.element;
    var layer = layui.layer;

    var vue = new Vue({
        el: "#app",
        data() {
            return {
                connection: {},
            }
        },
        methods: {
            ReceivePoPup(msg) {

                layer.open({
                    area: ['300px', '160px'],
                    shade: 0.1,
                    skin: 'demo-class',
                    type: 1,
                    content: msg,
                    offset: 'rb', //右下角弹出
                });

            },
            Receive() {
                $.ajax({
                    type: "post",
                    url: "/home/ListFormData",
                    data: {},
                    async: true,
                    success: function (data) {
                        var data = data.list;
                        var getTpl = demo.innerHTML;
                        var view = document.getElementById('viewdd');
                        laytpl(getTpl).render(data, function (html) {
                            view.innerHTML = '';
                            view.innerHTML = html;
                        });
                    }
                });
            },
            connect() {
                var that = this;
                that.connection = new signalR.HubConnectionBuilder()
                    .withUrl('/FormChat')
                    .build();

                that.connection.on('Receive', that.Receive);
                that.connection.on('ReceivePoPup', that.ReceivePoPup);
                that.connection.onclose(that.reConnect);
                that.connection.start().catch(error => {
                    layer.msg('start-通讯服务器已断开，将重试页面', { 
                        icon: 2
                        , time: 3000,
                        end: function () {
                            window.location.reload();
                        }
                    });

                });

                that.connection.on('disconnected', function () { 
                    layer.msg('disconnected-通讯服务器已断开，将刷新页面', {
                        icon: 2
                        , time: 3000,
                        end: function () {
                            window.location.reload();
                        }
                    })
                });


            },
            IntData() {

                $.ajax({
                    type: "post",
                    url: "/home/ListFormData",
                    data: {},
                    async: true,
                    success: function (data) {
                        var data = data.list;
                        var getTpl = demo.innerHTML;
                        var view = document.getElementById('viewdd');
                        laytpl(getTpl).render(data, function (html) {
                            view.innerHTML = '';
                            view.innerHTML = html;
                        });
                    }
                });
            }

        },
        async  reConnect() {
            //处理链接关闭情况，onclose监听服务器断开和客户端主动断开，重新连接超过指定次数后放弃
            var that = this;
            //if (that.connection.state === 0) {
            //    that.start();
            //}
            //try {
            //    var that = this;
            //    await that.start();
            //} catch (e) {
            //    setTimeout(() => reConnect(), 5000);
            //}
            that.connection.start().catch(error => {
                layer.msg('error-通讯服务器已断开，请重试刷新', {
                    icon: 2
                    , time: 3000,
                    end: function () {
                        window.location.reload();
                    }
                });

            });

       
        },
        mounted() {
            this.connect();
        },
        created() {
            this.IntData();
        },


    });

</script>